body {
  font-family: sans-serif;
  padding: 20px;
  background: #f0f0f0;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 800px;
}

.btn {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  display: block;
  width: 561px;
  background-color: #ff7300;
}